{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="intro">
    <h2>Businesses</h2>
  </div>
<hr>
<br>
<div class="row">
<div class="col-sm-4" style="margin-bottom: 2em;">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title firstletter" style="color:black">Mama Mboga</h5>
      <p class="card-text"><a class='maillink' href="mailto:{{profile.contact}}">mamamboga254@gmail.com</a></p>
      <p class="card-text"><a  style="color:black">Neighbourhood: Busia</a></p>

    </div>
  </div>
  <br>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title firstletter" style="color:black">Mama Chai</h5>
      <p class="card-text"><a class='maillink' href="mailto:{{profile.contact}}">mamachai@gmail.com</a></p>
      <p class="card-text"><a  style="color:black">Neighbourhood: Kakamega</a></p>

    </div>
</div>
</div>
</div>
{% if businesses %}
<div class="row">
{% for business in businesses %}
    <div class="col-sm-4" style="margin-bottom: 2em;">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title firstletter" style="color:black">{{business.name}}</h5>
          <p class="card-text"><a class='maillink' href="mailto:{{profile.contact}}">{{business.email}}</a></p>
          <p class="card-text"><a  style="color:black">Neighbourhood: {{business.neighbourhood}}</a></p>

        </div>
      </div>
    </div>
{% endfor %}
</div>

{% else %}
<h4>Add Businesses <a href="{% url 'newbusiness' %}">here</a></h4>
{% endif %}
</div>
{% endblock %}