{% extends "base.html" %}

{% block content %}
<!-- <div class="jumbotron" style="background-image:url('https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80');background-size:cover"> -->

    <div class="col-md-4 mx-auto">
        <h2 class="firstletter">{{neighbourhood.name}}</h2>
  <hr>
  
  <div class="col-md-4 mx-auto">
      <img class='soloimg' src="{{neighbourhood.image.url}}" alt="{{ neighbourhood.name }}">
    <div class="card-body">
      <!-- <h5 class="card-title firstletter">{{neighbourhood.name}}</h5> -->
      <p class="card-text">
        <p>{{neighbourhood.location}}</p>
        <p>{{neighbourhood.pub_date}}</p>
        <p>{{neighbourhood.occupants_count}}</p>

        </p>
      <p class="card-text" style="color: whitesmoke">Owner: {{neighbourhood.email}}</p>
    </div>
  </div>
  <p></p>

  <br>

<div class="well" style="text-align:center">
  <a href="{% url 'mypost' %}"><button type="button" class="btn btn-info">View Posts</button></a>   
    <a href="{% url 'newneighbourhood' %}"><button type="button" class="btn btn-info">Update Neighbourhhod</button></a> 
    <br>
    
    <!-- <h3> Add Posts<a href="{% url 'newpost' %}">here</a>.</h3> -->
  </div>
  <hr>
  <div class="well" style="text-align:center">
        <p>
        <a href="{% url 'business' %}"><button type="button" class="btn btn-info">Businessess</button></a> 
        <a href="{% url 'contacts' %}"><button type="button" class="btn btn-info">Contacts</button></a>   
      </p>
      </div>
    </div>
    <br>
    <br>
  </div>
{% endblock %}