{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="col-md-4 mx-auto">
        <h2 class="firstletter">{{neighbourhood.name}}</h2>
    </div>
  <hr>
  
  <div class="col-md-4 mx-auto">
      <img class='soloimg' src="{{neighbourhood.image.url}}" alt="{{ neighbourhood.name }}">
    <div class="card-body">
      <h5 class="card-titile firstletter">{{neighbourhood.location}}</h5>
      <p class="card-text">
          <p>{{neighbourhood.occupants_count}}</p>
        <p>{{neighbourhood.description}}</p>
        </p>
      </p>
      <p class="card-text" style="color: whitesmoke">neighbourhood by: {{neighbourhood.email}}</p>
    </div>
  </div>

  <h2 class="firstletter">{{post.name}}</h2>
    </div>
  <hr>
  <div class="card bg-dark">
      <div class="card-body">
        {{post.post}}
      </div>
    </div>
  <p></p>
  <a href="{% url 'newcomment' post.id %}"><button type="button" class="btn btn-primary">Comment</button></a>

  <br>
  <br>
  {% for comment in comments %}
  <div class="card text-white bg-secondary mb-3">
      <div class="card-body firstletter" >
          {{comment.comment}}
        <footer class="blockquote-footer" style="color:white;"><cite title="Source Title">{{comment.postername}}</cite></footer>
      </div>
    </div>
  <p></p>
  {% endfor %}
</div>

    <a href="{% url 'newneighbourhood' %}"><button type="button" class="btn btn-info">Update Neighbourhhod</button></a>   

    </div>
    <br>
    <br>
  
    <!-- {% if comments%}
    <div class="col-md-4 mx-auto">
        <br>
  
    <h5>User comments</h5>
    {% for comment in comments %}
    <div class="card text-white bg-primary mb-3">
        <div class="col-md-4 mx-auto">
            <p>{{comment.comment}}</p>
          <footer class="blockquote-footer" style="color:black;font-weight:bold"><cite name="Source name">Comment By: {{comment.postername}}</cite></footer>
        </div>
      </div>
    </div>
    <p></p>
    {% endfor %}
    </div>
  </div>
  
    {% else %}
    <h4 style="text-align:center"> No comments Upto Now</h4>
    {% endif %}
  </div> -->
  <!-- <div class="card-letter" style="text-align:center">
  </div> -->
  <br>
  <br>

  
</div>
<style>

.btn btn-primary{
  text-align: center;
  margin-right: 50%;
}
</style>
{% endblock %}