{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="intro" style="text-align:center">
    <h2>Posts</h2>
  </div>

  <div class="col-sm-4" style="margin-bottom: 2em;">
    <div class="card bg-dark">
      <div class="card-body">    
        <h5 class="card-header">Love</h5>
        <h5 class="card-text firstletter"> Pesa nani anajua kuna dooh uko nje</h5>
        <p style="font-style:italic;text-decoration:underline">Posted by: Francis</p>
        <a href="{% url 'comments' %}"><button type="button" class="btn btn-success">View Comments</button></a>

    </div>
  </div>
</div>


{% if posts %}
<div class="row">
{% for post in posts %}
<div class="col-sm-4" style="margin-bottom: 2em;">
    <div class="card bg-dark">
      <div class="card-body">    
        <h5 class="card-header">{{post.name}}</h5>
        <h5 class="card-text firstletter">{{ post.post | truncatechars:450 }}</h5>
        <p style="font-style:italic;text-decoration:underline">Posted by: {{post.postername}}</p>
        <h5 class="card-header">Neighbourhood: {{post.neighbourhood}}</h5>
        <a href="{% url 'comments' %}"><button type="button" class="btn btn-success">View Comments</button></a>

    </div>
  </div>
</div>
  <br>
{% endfor %}
{% endif %}
</div>

<h4 style="text-align:center">Add Posts <a href="{% url 'newpost' %}">here</a>.</h4>

<br>
  <br>
{% endblock %}