{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="intro" style="text-align:center">
    <h2>Posts</h2>
  </div>

{% if posts %}
<div class="row">
{% for post in posts %}
<div class="col-sm-4" style="margin-bottom: 2em;">
    <div class="card bg-dark">
      <div class="card-body">    
        <h5 class="card-header">{{post.name}}</h5>
        <h5 class="card-text firstletter">{{ post.post | truncatechars:450 }}</h5>
        <p style="font-style:italic;text-decoration:underline">Posted by: {{post.postername}}</p>

    </div>
  </div>
</div>
  <br>
{% endfor %}
{% endif %}
</div>
<h4 style="text-align:center">Add Posts <a href="{% url 'newpost' %}">here</a>.</h4>

<br>
  <br>
  {% for comment in comments %}
  <div class="card text-white bg-secondary mb-3">
      <div class="card-body firstletter" >
          {{comment.comment}}
        <footer class="blockquote-footer" style="color:white;"><cite title="Source Title">{{comment.postername}}</cite></footer>
      </div>
    </div>
  <p></p>
  {% endfor %}
</div>

{% endblock %}