{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="intro">
        <h2>Your Profile</h2>
      </div>
<hr>
{% if profile.bio %}
<div id='user-details'>
    <p><img class="circular" src="{{profile.photo.url}}" alt="Avatar" style="border-radius: 50%;"><span class="repo-owner firstletter" style="padding:1.5em;font-size: 2em">{{user.username}}</span>
    </p>
    <p>
      <!-- <span class='repo-owner' style=>Neighbourhoods: </span>{{neighbourhoodcount}} -->
    </p>
</div>
    {{profile.bio}}
    <p></p>
    <span><a class='maillink' href="mailto:{{profile.contact}}" style="color: whitesmoke">{{profile.contact}}</a></span>
    <p></p>
    <h5 class="card-title firstletter">Neighbourhood: {{profile.neighbourhood}}</h5>
    <a href="{% url 'newprofile' %}"><button type="button" class="btn btn-info">Update Profile</button></a>   
    <br>
    <br>
 {% else %}
 <p></p>
    <a href="{% url 'newprofile' %}"><button type="button" class="btn btn-info">Update Profile</button></a>   
    <br>
    <br>
  {% endif %}
      <!-- <h4>Your neighbourhoods</h4>
      <p></p>
      {% if neighbourhoods %}
          {% for neighbourhood in neighbourhoods %}
          <div class="col-md-4 mx-auto" style="color:white">
              <img class='streamimg' src="{{neighbourhood.image.url}}" height="300px" width="95%"  alt="{{ neighbourhood.name }}"></img>
              <br>
                <h5 class="card-title firstletter">{{neighbourhood.name}}</h5>
                <p class="card-text firstletter">{{ neighbourhood.description | truncatechars:450 }}</p>
                <div class="animated infinite flash">
                <p class="card-text"><a href="{% url 'neighbourhood' neighbourhood.id %}"><button type="button" class="btn btn-primary">View</button></a></p>
                </div>
                <br>
            </div>
            <br>
      {% endfor %}
      
      
      {% else %}
      <h4 style="text-align: center">No Neighbourhoods to show, Add one <a href="{% url 'newneighbourhood' %}">here</a>.</h4>
      {% endif %}
      </div> 


{% endblock %}